        <footer class="footer">
            <nav class="footer-nav">
                <ul class="section-content">
                    <li class="footer-nav__item footer-nav__item--logo">
                        <%- include( '../../images/logo-icon.svg' ) %>
                    </li>
                    <li class="footer-nav__item footer-nav__item--signature">
                        <%- include( '../../images/signature.svg' ) %>
                    </li>
                </ul>
            </nav>
        </footer>
        <script src="../../scripts/bundle.js"></script>
    </body>
</html>
