<nav class="nav">
    <ul class="nav__utilities">
        <li class="nav__utilities__item nav__utilities__item--logo">
            <a href="/" class="nav__utilities__item__link">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 40" width="30" height="30" class="nav__utilities__item__icon">
                    <polygon points="18,40 0,0 18,9 36,0 "/>
                </svg>
            </a>
        </li>
        <li class="nav__utilities__item nav__utilities__item--hamburger">
            <a href="#" class="nav__utilities__item__link">
                <%- include( '../../images/hamburger.svg' ) %>
            </a>
        </li>
    </ul>
    <ul class="nav__content">
        <li class="nav__content__item">
            <a class="nav__content__item__link" href="#">About</a>
        </li>
        <li class="nav__content__item">
            <a class="nav__content__item__link" href="#">Blog</a>
        </li>
        <li class="nav__content__item">
            <a class="nav__content__item__link" href="#">Contact</a>
        </li>
    </ul>
</nav>
<div class="nav-screen"></div>
