<div class="sidebar">
  <div class="leaderboard" id="topIndividuals"></div>
  <div class="leaderboard" id="topTeams"></div>
  <div class="search">
    <i class="fa fa-search search__icon"></i>
    <input type="text" class="search__input" id="pageSearchWidget" placeholder="Search for supporters..." />
  </div>
</div>
