.btn {
  background: $color-brand1;
  border: 2px solid $color-brand1;
  display: inline-block;
  line-height: 1;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  padding: $unit-md $unit-lg;
  color: #fff;
  border-radius: $radius;

  &:hover {
    text-decoration: none;
  }
}

.btn--block {
  display: block;
}

.btn--secondary {
  background: transparent;
  border-color: rgba(#fff, 0.66);
}

.btn--tertiary {
  background: transparent;
  border-color: $color-mutedGrey;
  color: $color-mutedGrey;
}

.btn--sm {
  padding: $unit-sm $unit-md;
  font-size: $size-small;
}

.btn--lg {
  padding: $unit-lg $unit-xl;
  font-size: $unit-lg;
}

.btn--xl {
  padding: $unit-xl $unit-xxl;
  font-size: $unit-lg;
}
