.social-proof {
  text-align: center;
}

.stat {
  display: inline-block;
  padding: $unit-md $unit-md;
}

%stat__total,
%stat__title {
  display: block;
  font-weight: normal;
  @include breakpoint(lap) { display: inline; }
  @include breakpoint(palm) { display: block; }
}

%stat__title {
  font-size: 10px;
  text-transform: none;
  font-weight: normal;
  text-transform: uppercase;
  color: $muted-text;
}

%stat__total {
  font-size: $size-small;
  font-weight: bold;
  margin: 0;
  padding: 0 $unit-sm;
  color: $default-text;
}

.TotalSupporters,
.CountDown,
.TotalDonations {
  padding: 0;
  background: transparent;
}

.TotalSupporters__title,
.CountDown__label,
.TotalDonations__title {
  @extend %stat__title;
}
.TotalSupporters__total,
.TotalDonations__total,
.CountDown__days {
  @extend %stat__total;
}
