.tabs {

}

.tabs__menu {
  @extend %clearfix;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0 $unit-xl;
  border-bottom: 1px solid $color-mutedGrey;

  > li {
    display: block;
    float: left;
    padding: 0 $unit-sm 0 0;
  }

  > li a {
    display: block;
    text-decoration: none;
    color: $color-darkGrey;
    border: 1px solid $color-mutedGrey;
    border-bottom-color: transparent;
    border-radius: $radius $radius 0 0;
    padding: $unit-md $unit-lg;
    margin-bottom: -1px;
  }

  > .active a {
    border-bottom-color: #fff;
  }
}


.tabs__content {
  padding: $unit-xl;

  > div {
    display: none;
  }

  > .active {
    display: block;
  }
}
