{{> header }}
    <h1>This is not a title</h1>
    <h1>Stuff</h1>
    <ul>
    {{#each prismic.articles.results }}
        {{{data.title.html}}}
        {{{data.body.html}}}
    {{/each}}
    </ul>
{{> footer }}
