.sidebar {
    width: 100%;
	background: $primary;
	padding: 20px 0;
	margin: 0 0 40px;

    &__content {
        @include contentContainer();
        text-align: center;
    }

    &__author {
        vertical-align: middle;
        display: inline-block;

        &__avatar {
            display: inline-block;
            width: 40px;
            height: 40px;
            background: red;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 10px;
        }

        &__meta {
            vertical-align: middle;
            display: inline-block;
            text-align: left;

            &__name {
                font-size: 1.4rem;
				// color: lighten( $text, 20 );
				padding: 0 0 2px;
            }

            &__time {
                font-size: 1.2rem;
                display: block;
				// color: lighten( $text, 50 );
            }
        }
    }
}
