/* =====================================
 *
 * Media Queries
 * ~~~~~~~~~~~~~
 *
 * Usage of mixin:
 * .test {
 *     width: 200px;
 *
 *     @include bp(tablet) {
 *         width: 100%;
 *     }
 * }
 *
====================================== */

// Breakpoints
$tablet: 768px;
$wp-desktop: 783px;
$desktop: 1200px;

@mixin bp($media) {
    @media all and (min-width: $media) {
        @content;
    }
	// @if $media == iPhone5 {
	// 	@media only screen
	// 		and (min-device-width : 320px)
	// 		and (max-device-width : 568px)
	// 		and (orientation : portrait) {
	// 			@content;
	// 	}
	// }
    //
	// @if $media == iPhone5L {
	// 	@media only screen
	// 		and (min-device-width : 320px)
	// 		and (max-device-width : 568px)
	// 		and (orientation : landscape) {
	// 			@content;
	// 	}
	// }
    //
	// @if $media == iPhone6 {
	// 	@media only screen
	// 	    and (min-device-width : 375px)
	// 	    and (max-device-width : 667px)
	// 	    and (orientation : portrait)
	// 	    and (-webkit-min-device-pixel-ratio : 2) {
	// 	    	@content;
	// 	}
	// }
    //
	// @if $media == iPhone6L {
	// 	@media only screen
	// 	    and (min-device-width : 375px)
	// 	    and (max-device-width : 667px)
	// 	    and (orientation : landscape)
	// 	    and (-webkit-min-device-pixel-ratio : 2) {
	// 	    	@content;
	// 	}
	// }
    //
	// @if $media == iPhone6plus {
	// 	@media only screen
	// 	    and (min-device-width : 414px)
	// 	    and (max-device-width : 736px)
	// 	    and (orientation : portrait)
	// 	    and (-webkit-min-device-pixel-ratio : 3) {
	// 			@content;
	// 	    }
	// }
    //
	// @if $media == iPhone6plusL {
	// 	@media only screen
	//     and (min-device-width : 414px)
	//     and (max-device-width : 736px)
	//     and (orientation : landscape)
	//     and (-webkit-min-device-pixel-ratio : 3) {
	// 		@content;
	//     }
	// }
    //
	// @if $media == 960 {
	// 	@media only screen and (min-width: 960px) {
	// 		@content;
	// 	}
	// }
    //
	// @if $media == tablet {
	// 	@media only screen and (min-width: $tablet) {
	// 		@content;
	// 	}
	// }
    //
	// @else if $media == desktop {
	// 	@media only screen and (min-width: $desktop) {
	// 		@content;
	// 	}
	// }
}
