$primary: #e2bb71;
$secondary: #bef4d9;
$text: darken( $primary, 50 );

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    // font-family: 'Vollkorn', serif;
    font-family: system, -apple-system, BlinkMacSystemFon, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 62.5%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    color: $text;
    background: $secondary;
}

html,
body {
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

body {
    background: #FFFFFF;
}

.section-content {
    @include contentContainer();
}
