$primary: #e2bb71;
$secondary: #bef4d9;
$text: darken( $primary, 50 );

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    // font-family: 'Vollkorn', serif;
    // font-family: system, -apple-system, BlinkMacSystemFon, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: "myriad-pro", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 62.5%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    color: $text;
    background: $secondary;
}

html,
body {
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

body {
    background: #FFFFFF;
}

.section-content {
    @include contentContainer();
}

/*a*/.more-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 100px;
    margin-top: 40px;
    color: $primary;
    border: 2px solid $primary;

    &.featured {
        background: $primary;
        color: darken( $primary, 40% );
        box-shadow: 0 10px 20px 0px rgba( darken( $primary, 45% ), 0.2 ),
        0 0 30px 5px rgba( $primary, 0.8 );
    }
}

.homepage-article-header {
    font-size: 2.4rem;
    margin-top: 40px;
}

/*main*/.home {
    padding-bottom: 100px;
}
