/*article*/.featured-article {
    position: relative;
    z-index: 1;
    margin-bottom: 60px;
    box-shadow: 0 30px 10px -20px rgba( darken( $secondary, 80% ), 0.4 ),
                0 0 20px 0 rgba( darken( $secondary, 80% ), 0.3 );
    margin-top: 40px;

    &__title {
        padding: 20px 10px 20px;
        position: relative;
        margin-bottom: 20px;
        background: rgba( 0, 0, 0, 0.7 );
        color: #FFFFFF;
        font-size: 2.6rem;
        text-align: center;

        @supports( -webkit-mask-image: -webkit-linear-gradient( top, rgba( 0, 0, 0, 1 ) 50%, rgba( 0, 0, 0, 0 ) 100% ) ) {
            -webkit-mask-image: linear-gradient( top, rgba( 0, 0, 0, 1 ) 50%, rgba( 0, 0, 0, 0 ) 100% );
            padding-bottom: 80px;
            margin-bottom: 0;
        }
    }

    &__excerpt {
        width: 90%;
        margin: 0 auto;
        background: rgba( 255, 255, 255, 0.96 );
        padding: 10px 20px;
        font-size: 1.4rem;
        line-height: 1.5;
        font-weight: 300;
        transform: translate3d( 0, 40px, 0 );
        box-shadow: 0 0 20px 0 rgba( darken( $secondary, 80% ), 0.3 );

        @supports( backdrop-filter: blur( 10px ) ) {
            // background: rgba( 255, 255, 255, 0.7 );
            // backdrop-filter: blur( 10px );
        }

        @supports( -webkit-mask-image: -webkit-linear-gradient( top, rgba( 0, 0, 0, 1 ) 50%, rgba( 0, 0, 0, 0 ) 100% ) ) {
            margin-top: -100px;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
    }
}
