$nav-height: 40px;

.nav {
    width: 100%;
    max-height: 64px;
    overflow: hidden;
    padding: 6px 0;
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    z-index: 10;
    transition: max-height 0.5s ease-in-out, background 0.5s 0.25s ease, backdrop-filter 0.5s 0.25s ease;

    &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        width: calc( 100% - 40px );
        max-width: 960px;
        margin: auto;
        height: 1px;
        background: rgba( 255, 255, 255, 0.4 );
    }


    &--open {
        max-height: 300px;
        background: rgba( #FFFFFF, 0.98 );
        transition: max-height 0.5s ease-in-out, background 0.5s ease, backdrop-filter 0.5s ease;

        // @supports( -webkit-backdrop-filter: blur( 10px ) ) {
        //     background: rgba( #FFFFFF, 0.94 );
        //     backdrop-filter: blur( 10px ) brightness( 300% ) saturate( 150% );
        // }

        + .nav-screen {
            background: rgba( darken( $primary, 70% ), 0.5 );
            z-index: 8;
            transition: background 0.5s 0.25s ease, z-index 0.15s step-start;
        }
    }

    &-screen {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 300%;   // To prevent seeing the edge when scrolling to dismiss
        background: rgba( 0, 0, 0, 0 );
        z-index: -1;
        transition: background 0.2s 0 ease, z-index 0.15s step-end;
    }

    &__utilities {
        @include contentContainer();
        position: relative;
        height: 52px;

        &__item {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 52px;
            height: 52px;

            &--logo {
                left: 10px;

                .nav__utilities__item__icon {
                    width: 24px;
                }
            }

            &--logo-text {
                top: 8px;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                width: 130px;
                fill: $text !important;

                .nav--light & {
                    fill: #FFFFFF !important;
                }

                .nav--open & {
                    fill: $text !important;
                }
            }

            &--hamburger {
                right: 12px;

                .nav__utilities__item__icon {
                    width: 30px;
                }

                /*path*/.hamburger-line {
                    transition: fill 0.5s 0.25s ease, transform 0.4s ease, opacity 0.4s ease !important;
                    transform-style: preserve-3d;
                    transform-origin: right center;

                    .nav--open & {
                        transition: fill 0.5s ease, transform 0.4s ease, opacity 0.4s ease !important;

                        &-1 {
                            transform: rotate( 135deg ) translate3d( 83px, 3px, 0 );
                        }

                        &-2 {
                            // transform: translate3d( -100px, 0, 0 );
                            opacity: 0;
                        }

                        &-3 {
                            transform: rotate( -135deg ) translate3d( -57px, 54px, 0 );
                            transform-origin: left center;
                        }
                    }
                }
            }

            &__link {
                width: 100%;
                height: 100%;
                display: block;
            }

            &__icon {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                user-select: none;
                pointer-events: none;
                fill: $primary;

                * {
                    transition: fill 0.5s 0.25s ease;
                }

                path {
                    fill: $primary;
                }

                .nav--light & {
                    fill: #FFFFFF;

                    path {
                        fill: #FFFFFF;
                    }
                }

                .nav--open & {
                    fill: $primary;

                    path {
                        fill: $primary;
                    }

                    * {
                        transition: fill 0.5s ease;
                    }
                }
            }
        }
    }

    &__content {
        width: 400px;
        margin: 0 auto;
        padding: 20px 0 20px;
        user-select: none;
        pointer-events: none;

        .nav--open & {
            pointer-events: auto;
        }

        &__item {
            @include contentContainer();
            opacity: 0;
            transform: translate3d( 0, -40px, 0 );
            transition: opacity 0.25s ease-out;

            .nav--open & {
                opacity: 1;
                transform: translate3d( 0, 0, 0 );

                @for $i from 1 through 4 {
                    &:nth-of-type( #{5 - $i} ) {
                        transition: opacity 0.5s #{ 0.05 + ( 0.15s * ( $i - 1 ) ) } ease-in-out, transform 0.5s #{ 0.15s + ( 0.1s * ( $i - 1 ) ) } ease-in-out;
                    }
                }
            }

            @for $i from 1 through 4 {
                &:nth-of-type( #{$i} ) {
                    transition: opacity 0.2s #{ 0.1 + ( 0.05s * ( $i - 1 ) ) } ease-out, transform 0.2s #{ 0.1s + ( 0.05s * ( $i - 1 ) ) } ease-out;
                }
            }

            &__link {
                padding: 20px 0 10px;
                color: darken( $primary, 20%);
                text-decoration: none;
                font-size: 2.4rem;
                font-weight: 300;
                display: block;
                border-bottom: 1px solid $primary;
            }

            &:last-of-type {
                .nav__content__item__link {
                    border-bottom: 0;
                }
            }
        }
    }
}
