@include( 'header.ejs' )

    <h1><%= doc.getText( 'articles.title' ); %></h1>
    <!-- It's a sliceZone!! -->
    <div class="body">
        <% ( doc.getSliceZone( 'articles.body' ).slices ).forEach( function( slice, idx ) { %>
            <% if( slice.sliceType == 'text' ) { %>
                <% // console.log( slice.value.asHtml() ); %>
            <% } %>
        <% }); %>
    </div>

@include( 'footer.ejs' )
