<%- include( 'partials/header.ejs' ) %>

    <h1><%= doc.getText( 'articles.title' ); %></h1>

    <div class="body">
        <% ( doc.getSliceZone( 'articles.body' ).slices ).forEach( function( slice, idx ) { %>
            // Automatic slice template includes:
            <%- include( 'partials/' + slice.sliceType + 'Slice.ejs', { slice: slice } ); %>
        <% }); %>
    </div>

<%- include( 'partials/footer.ejs' ) %>
