{{> header }}
  <div class="main-wrapper">
    <div class="author">
      {{{ prismic.blog-post.results.[0].data.author.html }}}
      {{{ prismic.blog-post.results.[0].data.relatedpost.html }}}
    </div>
    <article class="post-body">
      {{{ prismic.blog-post.results.[0].data.body.html }}}
    </article>
  </div>
{{> footer }}
