<%- include( '../templates/partials/header.ejs' ); %>

    <main class="home" style="font-size: 0;">
        <% for( var i = 0; i < 99; i++ ) { %>
            <% if( i === 0 ) { %>
                <div class="test-wrapper">
            <% } else if( i % 3 === 0 ) { %>
                </div>
                <div class="test-wrapper">
            <% } %>
                <span class="testVideoCanvas" id='<%= i + 1 %>'><%= i + 1 %></span>
            <% if( i === 99 ) { %>
                </div>
            <% } %>
        <% } %>
    </main>
<%- include( '../templates/partials/footer.ejs' ); %>
