// GENERAL LAYOUT
/////////////////////////////////////////////////////////////////////

$max-page-width: 1140px;
$left-col-width: 66.66%;
$right-col-width: 33.34%;

// ASSETS
/////////////////////////////////////////////////////////////////////

$imgPath: "../img/";

// COLORS
/////////////////////////////////////////////////////////////////////

$color-darkGrey: #333;
$color-darkerGrey: #111;
$color-mutedGrey: #999;
$color-lightGrey: #eee;

$color-brand1: $color-darkGrey;
$color-brand2: #ddd;


// TYPE
/////////////////////////////////////////////////////////////////////

$default-text: $color-darkGrey;
$muted-text: $color-mutedGrey;
$link-text: $color-brand1;

$size-base: 16px;
$size-small: 14px;
$size-tiny: 12px;

// UNIT SIZES
/////////////////////////////////////////////////////////////////////
// Used for standard padding and margins.

$unit-xs: 4px;
$unit-sm: 8px;
$unit-md: 16px;
$unit-lg: 24px;
$unit-xl: 32px;
$unit-xxl: 48px;
$unit-xxxl: 64px;


// FLUFF
/////////////////////////////////////////////////////////////////////

$body-background: $color-lightGrey;
$radius: 3px;
