@import "normalize";
@import "variables";
@import "mixins";
@import "modules";

body, html {
  margin: 0;
  padding: 0;
  background: #eee;
}

.header {
  @extend %wrapper;
  padding-bottom: $unit-md;
}

%wrapper {
  box-sizing: border-box;
  max-width: $max-page-width;
  margin: 0 auto;
}

%content-section {
  padding: 0 $unit-xl;
}

%left-col {
  box-sizing: border-box;
  float: left;
  width: $left-col-width;
  padding: $unit-xl $unit-xl 0;

  @include breakpoint(desk) {
    float: none;
    width: 100%;
  }
}

%right-col {
  box-sizing: border-box;
  float: left;
  width: $right-col-width;
  padding: $unit-xl $unit-xl 0;

  @include breakpoint(desk) {
    float: none;
    width: 100%;
  }
}

.row {
  @extend %clearfix;
}

.main-wrapper {
  @extend %wrapper;
  background: #fff;
}

.footer-wrapper {
  @extend %wrapper;
  padding: $unit-md;
  background: $color-lightGrey;
}

.main-banner {
  position: relative;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

// INTRO SECTION
////////////////////////////////////////

.intro {
  @extend %left-col;
  text-align: center;
}

.intro__title + .intro__subtitle {
  margin-top: -1em;
}

.intro__subtitle h2 {
  font-weight: lighter;
  font-size: $unit-lg;
}

.intro__footer {
  padding: $unit-lg 0 $unit-xxl;

  @include breakpoint(lap) {
    padding: $unit-lg;
  }
}


// CALLS TO ACTION SECTION
////////////////////////////////////////

.calls-to-action {
  @extend %right-col;

  @include breakpoint(lap) {
    float: none;
    width: 100%;
  }
}

.donate-btn {
  margin-bottom: $unit-sm;
}


// USER CONTENT SECTION
////////////////////////////////////////

.user-content {
  @extend %left-col;

  > *:first-child {
    margin-top: 0;
  }

  img, iframe {
    max-width: 100%;
  }

  // Selects embedded content wrapper div (from Prismic.io).
  // Doing this to make video content responsive.
  div[data-oembed-type="embed"] {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }

  div[data-oembed-type="embed"] iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// SIDEBAR
////////////////////////////////////////

.sidebar {
  @extend %right-col;
}
